*{
    box-sizing: border-box;
}

body {
    font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.headline{
    background-color:paleturquoise
}

.headline h1 {
    color:royalblue;
    display:inline-block;
    font-size:35px;
}

.headline nav {
    padding-top: 5px;
    margin-right: 20px;
    float: right;
    font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.headline nav ul {
    list-style-type: none;
}

.headline nav ul li {
    display: inline-block;
    margin-left: 20px;
}

.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    position:relative;
    top: 0;
    left: 0;
}

.image1{
    position: relative;
    top: 0;
    left:0;
    border: 1px solid #000000;
}

.image2{
    position: absolute;
    top:30px;
    left:30px;
    border: 1px solid #000000;
}

.sidebar{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height:100%;
}

.sidebar h2 {
    color:mediumblue;
    border-color: azure;
    border-style:solid dashed dashed solid;
    width:30%;
    height:100%;
    font-size: 25px;
    float:left;
}

.sidebar section {
    padding-bottom: 10px;
    margin-block-start: 0px;
    width:70%;
    float: left;
    font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.sidebar section ul {
    list-style-type: none;
}

.sidebar section ul li {
    padding: 10px;
    color:white;
    display: flex;
    flex-wrap: wrap;
}

.sidebar2{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height:100%;
}

.sidebar2 h2 {
    color:mediumblue;
    border-color: azure;
    border-style:solid dashed dashed solid;
    width:30%;
    height:100%;
    font-size: 25px;
    float:left;
}

.sidebar2 section {
    padding-bottom: 10px;
    margin-block-start: 0px;
    width:70%;
    float: left;
    font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.sidebar2 section ul {
    list-style-type: none;
}

.sidebar2 section ul li {
    padding: 10px;
    color:white;
    display: flex;
    flex-wrap: wrap;
}
/*I wanted to specofocally target my images for wrapping and stacking*/
.sidebar2 section ul li figure{
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    float: left;
}
/*I wanted to target all image files to expand when the mouse cursor interacted with them*/
img {
    width: 300px;
    height: auto;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
/*Hover code*/
img:hover {
    width: 350px;
}

.sidebar3{
    width:100%;
    height:100%;
    display:flex;
    flex-wrap: wrap;
}

.sidebar3 h2 {
    color:mediumblue;
    border-color: azure;
    border-style:solid dashed dashed solid;
    width:30%;
    height:100%;
    font-size: 25px;
    float:left;
}

.sidebar3 section {
    padding-bottom: 10px;
    margin-block-start: 0px;
    width:70%;
    float: left;
    font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.sidebar3 section ul {
    list-style-type: none;
}

.sidebar3 section ul li {
    padding: 10px;
    color:white;
    display:flex;
    flex-wrap: wrap;
}

.sidebar4{
    width:100%;
    height:100%;
    display:flex;
    flex-wrap: wrap;
}

.sidebar4 h2 {
    color:mediumblue;
    border-color: azure;
    border-style:solid dashed dashed solid;
    width:30%;
    height:100%;
    font-size: 25px;
    float:left;
}

.sidebar4 section {
    padding-bottom: 10px;
    margin-block-start: 0px;
    width:70%;
    float: left;
    font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.sidebar4 section ul {
    list-style-type: none;
}

.sidebar4 section ul li {
    padding: 10px;
    color:white;
    display: flex;
    flex-wrap: wrap;
}
